
<%= Article.public_count %> Articles and Counting!
<div class="container">
  <div class="d-flex flex-row justify-content-center">


</p>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <%= link_to article.title, article %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article",  new_article_path %>
