<p> Welcome to Sebastian Detering's site.  It is currently in development (Feb 26 2022) and will be changing during this time period a few times.
<%= Article.public_count %> Articles and Counting!
</p>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <%= link_to article.title, article %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article",  new_article_path %>
