

.authors {
  background-color: coral !important;
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #e844fe;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%
    }
    .delete-btn {
      position: absolute;
      right: calc(10% + 38px);
      opacity: 0.7;
      &:hover {
        opacity: 1.0;
      }
    }
  }
  .post-card {
    .header-img {
      width: 100%;
      height: 100px;
      background-size: cover;
      background-position: center;
    }
  }

  #elements {
    list-style: none;
    padding-left: 0;
  }
}

.visitors {

  background-color: #cc11ee !important;

  .center {
    display: flex;
    justify-content: center;
  }
  // custom class for background
  .navbar-customclass {
      background-color: blue;
  }
  /* changing brand text color*/
  .navbar-customclass .navbar-brand,
  .navbar-customclass .navbar-text {
      color: #4413ff;
  }
  /* navigation link text color */
  .navbar-customclass .navbar-nav .nav-link {
      color: rgba(10,30,240,.9);
  }
  /* navigation links anchor hover and active styles */
  .navbar-customclass .nav-item.active .nav-link,
  .navbar-customclass .nav-item:hover .nav-link {
      color: #4413ff;
  }
  .paragraph {
    transition: background-color 0.5s ease;
    &:hover {
      background-color: #f8f9fa;
    }
  }
  .image {
    text-align: center;
    img {
      max-width: 80%
    }
  }
  .post-card {
    .header-img {
      width: 100%;
      height: 100px;
      background-size: cover;
      background-position: center;

    }
  }
}
